// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #3b82f6;
  --ion-background-color: #121212;
  --ion-text-color: #fff;
}
