<ion-segment (ionChange)="setSortBy($event)" value="title">
  <ion-segment-button value="title">
    <ion-label>Title</ion-label>
  </ion-segment-button>
  <ion-segment-button value="artist">
    <ion-label>Artist</ion-label>
  </ion-segment-button>
  <ion-segment-button value="duration">
    <ion-label>Duration</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content class="ion-padding">
  <ion-list lines="none">
    <ion-item
      *ngFor="let song of songs"
      (click)="goToDetails(song)"
      button
      detail
      class="song-item"
    >
      <ion-avatar slot="start">
        <img [src]="song.albumArt" alt="{{ song.title }}" />
      </ion-avatar>

      <ion-label>
        <h2>{{ song.title }}</h2>
        <p>{{ song.artist }} · {{ song.duration }}</p>
      </ion-label>

      <ion-checkbox
        slot="end"
        [(ngModel)]="song.selected"
        (ngModelChange)="updateSelectedSongs()"
        (click)="$event.stopPropagation()"
      ></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
