<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Music App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-song-list (selectedSongsChanged)="onSelectedSongsChanged($event)"></app-song-list>

  <h3>Selected Songs:</h3>
  <ion-list>
    <ion-item *ngFor="let song of selectedSongs">
      <ion-label>{{ song.title }} - {{ song.artist }}</ion-label>
    </ion-item>
  </ion-list>

  

    Total duration: {{ calculateTotalDuration() }}

  
</ion-content>